#featured-projects .featured-projects {
    position: relative;
    height: 21em;
  }
  
  #featured-projects .featured-projects:after {
    clear: both;
    content: '';
    display: block;
  }
  
  #featured-projects .featured-projects:before {
    background: blue;
    content: '';
    display: inline-block;
    vertical-align: middle;
  }
  
  #featured-projects .featured-projects .content {
    display: inline-block;
    padding: 40px;
    vertical-align: middle;
    width: 49.3%;
  }
  
  #featured-projects .featured-projects .content:last-child {
    margin: 0 2px 0 -2px;
  }
  
  #featured-projects .featured-projects .content h6 {
    margin-bottom: 0.5em;
    margin-top: 1em;
    text-transform: uppercase;
  }
  
  #featured-projects .featured-projects .content .breadcrumb {
    padding: 0;
    background: none;
    font-size: 15px;
  }
  
  #featured-projects .featured-projects .content a {
    border-bottom: 1px solid gainsboro;
  }
  
  #featured-projects .featured-projects .image {
    display: inline-block;
    height: 100%;
    width: 50%;
    overflow: hidden;
    position: relative;
  }
  
  #featured-projects .featured-projects .image:hover .image-overlay {
    opacity: 1;
    z-index: 22;
  }
  
  #featured-projects .featured-projects .image:hover img {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
  }
  
  #featured-projects .featured-projects .image:hover .comments {
    bottom: 0;
  }
  
  #featured-projects .featured-projects .image img {
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    transition: .5s;
    -webkit-transition: 0.5s;
  }
  
  #featured-projects .featured-projects .image-overlay {
    position: absolute;
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: .5s;
  }
  
  #featured-projects .featured-projects .image-overlay .comments {
    font-size: 13px;
    padding: 0 12px 8px 14px;
    position: absolute;
    right: 0;
    bottom: -20%;
    z-index: 3;
    color: #fff;
    transition: .5s;
  }
  
  #featured-projects .featured-projects .image-overlay .comments i {
    margin-left: 6px;
  }
  
  #featured-projects .odd {
    text-align: left;
  }
  
  #featured-projects .odd .image {
    float: left;
  }
  
  #featured-projects .odd .image img {
    right: 0;
    top: 0;
  }
  
  #featured-projects .even {
    text-align: right;
  }
  
  #featured-projects .even .image {
    float: right;
  }
  
  #featured-projects .even .image img {
    left: 0;
    top: 0;
  }
  
  #featured-projects a{
    color: black;
  }
  
  @media screen and (max-width:768px) {
    #featured-projects .featured-projects {
      display: block;
      height: auto;
    }
    #featured-projects .featured-projects:last-child {
      margin-bottom: 0;
    }
    #featured-projects .featured-projects .image {
      height: 20em;
      width: 100%;
    }
    #featured-projects .featured-projects .content {
      text-align: center;
      width: 100%;
    }

  }
  