/* Style the list */
.navigation-component ul.breadcrumb {
    position: fixed;
    padding: 10px 16px;
    list-style: none;
    z-index: 999999;
    text-align: center;
    width: 100%;    
    background-color: rgba(255, 255, 255, 0);
}

/* Display list items side by side */
.navigation-component ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}

/* Add a slash symbol (/) before/behind each list item */
.navigation-component ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
.navigation-component ul.breadcrumb li a {
    color: rgba(245, 245, 245, 0.75);
    text-decoration: none;
}

/* Add a color on mouse-over */
.navigation-component ul.breadcrumb li a:hover {
    color: #f5f5f5;
}

@media only screen and (max-device-width: 480px) {
    .navigation-component ul.breadcrumb{
        display:none;
    }
  }