.center {
    margin: auto;
  }

  a{
    color: black;
  }

  a:hover{
    color:blue;
  }

  i:hover{
    color: yellow;
  }

  .devicon-github-plain:hover{
    color: black;
  }

  .equal-spacing{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media only screen and (max-device-width: 480px) {

    #projects{
      visibility: hidden;   
      display: none;   
    }

    #projects.content{
      visibility: hidden;      
    }

    #projects .links, #projects table{
      visibility: hidden;      
    }
	}