
.modal {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
  
  .modal .modal-content {
    border-radius: 0 !important;
    background-color: #fff;
    color: #616161;
  }
  
  .modal .modal-content .modal-body {
    position: relative;
    padding: 0 40px;
    text-align: justify;
  }
  
  .modal .modal-content .modal-body img {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .modal .modal-content .modal-header {
    padding: 15px;
    border-bottom: 0;
  }
  
  .modal .modal-content .modal-header .close:focus,
  .modal .modal-content .modal-header .close:hover {
    color: #1976D2;
    opacity: 1;
  }
  
  .modal .modal-content .modal-footer {
    border: 0 !important;
  }
  
  .modal .modal-content .btn-default {
    border-radius: 0;
    background-color: #1976D2;
    color: #fff;
    border-color: #1976D2;
  }
  
  .modal .modal-content .btn-default:hover,
  .modal .modal-content .btn-default:focus {
    color: #fff;
    background-color: #1976D2;
    border-color: #1976D2;
    border-radius: 0;
  }
  
  body.scale-effect {
    opacity: 1;
    transform: none;
    -webkit-transform: none;
    pointer-events: all;
  }
  
  body.scale-effect .icon-close {
    opacity: 1;
    transform: none;
    -webkit-transform: none;
    pointer-events: all;
  }
  
  body.scale-effect .btn-holder #icon-play {
    opacity: 0;
  }
  
  body.scale-effect .btn-holder .btn-play {
    transform: scale(28);
    -webkit-transform: scale(28);
  }
  
  .btn-holder {
    position: absolute;
    top: 75px;
    right: 346px;
    cursor: pointer;
    z-index: 3;
    transition: all .5s;
  }
  
  .btn-holder .icon-close {
    transition: 0.2s ease-in-out;
  }
  
  .btn-holder:hover .btn-play {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }
  
  .btn-play {
    box-sizing: border-box;
    transform-origin: 50%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transition: all 0.7s cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #1976D2;
    overflow: hidden;
  }
  
  .btn-play:hover {
    background-color: #1976D2;
  }
  
  .btn-play i {
    font-size: 35px;
    color: #fff;
  }
  
  .icon-close {
    position: absolute;
    top: 15px;
    right: 15px;
    color: #fff;
    opacity: 0;
    -webkit-transform: translate(10px, 0) rotate(90deg);
    transform: translate(10px, 0) rotate(90deg);
    transition: all 0.3s ease-in-out;
    z-index: 5;
    background: rgba(41, 40, 40, 0.36) !important;
  }
  
  .height-change {
    height: 548px !important;
    margin: -76px 3px 0 0px !important;
  }
  
  .middle {
    top: 170px !important;
    right: 430px !important;
  }
  
  .video {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    width: 100%;
    height: auto;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  
  @media screen and (max-width:767px) {
    .btn-holder {
      top: 102px;
      right: 0;
    }
    .btn-holder .btn-large {
      width: 36.5px;
      height: 36.5px;
    }
    .btn-holder .btn-large i {
      line-height: 1 !important;
      font-size: 26px !important;
    }
    .middle {
      top: 250px !important;
      right: 50px !important;
    }
  }
  
  @media screen and (max-width:660px) {
    .height-change {
      height: 440px !important;
      margin: -76px 3px 0 0px !important;
    }
  }
  
  @media screen and (max-width:500px) {
    .height-change {
      height: 300px !important;
      margin: -21px 3px 0 0px !important;
    }
  }
  
  @media screen and (min-width:769px) and (max-width:991px) {
    .middle {
      top: 170px !important;
      right: 340px !important;
    }
  }
  