
#profile-card-container {
    overflow: visible;
    width: 100%;
    height: auto;
    margin-top: -194px;
  }
  
  #profile-card-container #profile-card {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
    -webkit-transition: height 1s, color 1s, margin 1s;
    transition: height 1s, color 1s, margin 1s;
    z-index: 1;
    background: rgba(25, 6, 6, 0.67);
    margin: -33px 3px 0 0;
  }
  
  #profile-card-container #profile-card .info-headings {
    max-width: 514px;
  }
  
  #profile-card-container #profile-card .info-headings h4 {
    display: block;
    width: 100%;
    font-weight: 900;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.29);
  }
  
  #profile-card-container #profile-card .info-headings h6 {
    display: block;
    width: 100%;
    font-weight: 300;
    margin-top: -10px;
    margin-bottom: 30px;
    font-size: 1.2em;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.29);
  }
  
  #profile-card-container #profile-card .infos {
    max-width: 515px;
    margin-top: 99px;
  }
  
  #profile-card-container #profile-card .infos .profile-list {}
  
  #profile-card-container #profile-card .infos .profile-list .title {
    display: block;
    float: left;
    color: #fff;
    line-height: 26px;
  }
  
  #profile-card-container #profile-card .infos .profile-list .title i {
    font-size: 23px;
  }
  
  #profile-card-container #profile-card .infos .profile-list .title .fa {
    padding-left: 2px;
  }
  
  #profile-card-container #profile-card .infos .profile-list .content {
    display: block;
    margin-left: 30px;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    color: #fff;
  }
  
  #profile-card-container #profile-card .links {
    max-width: 500px;
    margin-left: -12px;
    margin-top: 12px;
    height: 100%;
  }

  #profile-card-container #profile-card .links social{
    color: #228DFF;
  }
 
  #profile-card-container #profile-card .links .social {
    margin-left: 12px;
    margin-bottom: 4px;
    background: #228DFF;
  }
  

  #profile-card-container #profile-card .links .social i {
    font-size: 15px;
    vertical-align: middle;
    padding-bottom: 15px;
  }
  
  #profile-card-container #profile-card .links .social i:hover {
    color: #2c3e50;
  }

  @media screen and (max-width:400px) {
    #profile-card-container #profile-card .links .social {
      margin: 4px;
    }
  }
  
  @media screen and (max-width:295px) {
    #profile-card-container #profile-card .links .social {
      margin: 1px;
    }
  }
  
  @media screen and (max-width:990px) {
    #profile-card-container #profile-card .infos {
      max-width: 278px;
    }
    #profile-card-container #profile-card .links {
      max-width: 325px;
    }
    #profile-card-container #profile-card .info-headings {
      max-width: 270px;
    }
  }
  
  #profile-card-container #profile-card #profile {
    position: absolute;
    right: 0;
    z-index: 1;
  }
  
  #profile-card-container #profile-card #profile img {
    width: 400px;
    height: auto;
  }
  
  #profile-card-container #profile-card #profile .slant {
    top: 0;
    z-index: 1;
    position: absolute;
    border-style: solid;
    border-width: 400px 0 0 100px;
    border-color: rgba(223, 50, 50, 0) transparent transparent rgba(25, 6, 6, 0.67);
  }
  
  #profile-card-container #profile-card #profile .add-btn {
    position: absolute;
    background-color: #1976D2;
    top: 20%;
    right: 86%;
    overflow: hidden;
  }
  
  #profile-card-container #profile-card #profile .add-btn i {
    font-size: 35px;
    color: #fff;
  }
  
  @media screen and (max-width:767px) {
    #profile-card-container #profile-card {
      position: relative;
      width: 100%;
      overflow: visible;
      z-index: 1;
      top: 34px;
    }
    #profile-card-container #profile-card #profile {
      position: absolute;
      bottom: 85%;
      left: 0;
      width: 150px;
      height: auto;
      margin-right: auto;
      margin-left: auto;
      z-index: 1;
      background-color: transparent;
    }
    #profile-card-container #profile-card #profile img {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    }
    #profile-card-container #profile-card #profile .slant {
      display: none;
      opacity: 0;
      overflow: hidden;
    }
    #profile-card-container #profile-card #profile .add-btn {
      display: none;
    }
    #profile-card-container #profile-card .social {
      top: 0;
      margin-left: 5px;
      margin-bottom: 4px;
    }
    #profile-card-container #profile-card .infos {
      display: table;
      margin: 0 auto;
      max-width: 100%;
      padding: 0;
    }
    #profile-card-container #profile-card .links {
      display: table;
      max-width: 100%;
      padding: 0;
      margin: 0 auto 9px;
    }
    #profile-card-container #profile-card .links #first_one {
      margin-left: 0;
    }
    #profile-card-container #profile-card .info-headings {
      max-width: 100%;
      text-align: center;
      margin-top: 38px;
    }
    #profile-card-container #profile-card .info-headings h6 {
      margin-bottom: 20px;
    }
    #profile-card-container #profile-card .card-content {
      padding: 10px;
    }
  }